In [3]:
#function with parameters
def add(a,b):
    return a+b
student1=int(input("enter the money:"))
student2=int(input("enter the money:"))
total=add(student1,student2)
print("total amount:",total)

total amount: 25

In [7]:
#function with parameters/return values
def add(a,b):
    print("total",student1+student2)    
student1=int(input("enter the money:"))
student2=int(input("enter the money:"))
total=add(student1,student2)

total 20

In [8]:
def value():
    return 3.14159
result=value()
print("value in the function is",result)

value in the function is 3.14159

In [9]:
def get_name():
    name=input("enter your name:")
    return name
username=get_name()
print("welcome",username)

welcome pavan

In [11]:
a=100
def value(a):
     return a+20
op=value(a)
print(op)

120

In [17]:
def info(name="unknown",age=0):
    print("name",name)
    print("age",age)
info("pavan",22)
info("rishi")
info(30)
info()

name pavan
age 22
name rishi
age 0
name 30
age 0
name unknown
age 0

In [20]:
#mul return values
def cal(a,b):
    return a+b,a-b,a*b,a/b
a=int(input("enter a number a:"))
b=int(input("enter a number b:"))
sum,sub,mul,div=cal(a,b)
print("sum=",sum)
print("subtract=",sub)
print("mul=",mul)
print("div=",div)

sum= 20
subtract= 10
mul= 75
div= 3.0

In [21]:
def values(a,b,c):
    print("min",min(a,b,c))
    print("max",max(a,b,c))
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
values(a,b,c)

min 12
max 113

In [2]:
def check(a,b,c):
    return max(a,b,c),min(a,b,c)
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter b:"))
max,min=check(a,b,c)
print(max)
print(min)

46
15

In [8]:
#constrain:give the input as user defined
def eo(numbers):
    e=0
    o=0
    for n in numbers:
        if n%2==0:
            e+=1
        else:
            o+=1
    return e,o            
num=input("enter the number as space seperted:")
num_list=list(map(int,num.split()))
e,o=eo(num_list)
print("even count:",e)
print("ood count:",o)

even count: 2
ood count: 5

In [10]:
expo=lambda a:a**a
print=(expo(3))